{{- if .Values.webhook.enabled }}

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: {{ include "seaweedfs-operator.mutatingWebhookName" . }}
  labels:
    {{- include "seaweedfs-operator.labels" . | nindent 4 }}
webhooks:
- clientConfig:
    service:
      name: {{ include "seaweedfs-operator.fullname" . }}-webhook
      namespace: {{ .Release.Namespace }}
      port: 443
      path: {{ include "seaweedfs-operator.mutatingWebhookPath" . }}
  name: mseaweed.kb.io
  failurePolicy: Fail
  sideEffects: None
  admissionReviewVersions:
  - v1
  rules:
  - apiGroups:
    - seaweed.seaweedfs.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - seaweeds

{{- end }}
