name: Pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.1
        with:
          go-version: '1.24'
      - uses: pre-commit/action@v3.0.1
